.hero {
    padding: 80px 0;
    position: relative;
    height: 80vh;
    .wrapper {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    @media (width <= $breakpoint-lg) {
        height: 60vh;
    }
}
.hero__content {
    color: var(--color-white);
}
.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
