{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="hero" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="wrapper">
        <h2>Mes laboratoires</h2>
        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/premier.png" alt="Premier lab" />
                </div>
                <div class="card__content">
                    <h3>01 - Laboratoire intro</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/deux.png" alt="Premier lab" />
                </div>
                <div class="card__content">
                    <h3>01 - Laboratoire intro</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/trois.png" alt="Premier lab" />
                </div>
                <div class="card__content">
                    <h3>01 - Laboratoire intro</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/quatre.png" alt="Premier lab" />
                </div>
                <div class="card__content">
                    <h3>01 - Laboratoire intro</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="labo">
    <div class="wrapper swiper js-swiper-labo swiper-labo">
        <h2>Mes laboratoires réactifs</h2>
        <div class="swiper-wrapper">
            <div class="card swiper-slide">
                <div class="card__media">
                    <img src="assets/images/quatre.png" alt="Premier lab" />
                </div>
                <div class="card__content">
                    <h3>01 - Laboratoire intro</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="card__media">
                    <img src="assets/images/quatre.png" alt="Premier lab" />
                </div>
                <div class="card__content">
                    <h3>01 - Laboratoire intro</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="card__media">
                    <img src="assets/images/quatre.png" alt="Premier lab" />
                </div>
                <div class="card__content">
                    <h3>01 - Laboratoire intro</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

{% include "_partials/_footer.html" %}
